.light-border {
    content: "";
    @apply absolute inset-0 overflow-hidden z-0 p-[1px] rounded-xl inline-block transition-all;
    --border-size: 1px;
    --padding: 1px;
    --border-bg: conic-gradient(from 180deg at 50% 50%, rgba(255, 231, 231, .46) 0deg, rgba(255, 255, 255, .47) 112.5deg, rgba(0, 0, 0, 0) 228.75deg, rgba(115, 125, 225, .45) 360deg);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);

    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    border-radius: calc(1rem + 1rem);

    &:before {
        content: "";
        @apply absolute left-1/2 top-1/2 -z-[2] translate-x-[-50%] translate-y-[-50%] w-full h-full rounded-xl;
        display: block;
        background: var(--border-bg);
        box-shadow: 0 0 40px 20px --var(--border-bg);
        width: calc(100% * 1.41421356237);
        padding-bottom: calc(100% * 1.41421356237);
        animation: transformRotate 5s linear infinite;
    }
}

@keyframes transformRotate {
    0% {
        transform: translate(-50%, -50%) rotate(1turn)
    }

    to {
        transform: translate(-50%, -50%) rotate(0)
    }
}

@keyframes animate-menu {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }

}

@keyframes topLineCross {
    0% {
        transform: translateY(-12px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(0px) rotate(45deg)
    }
}

@keyframes bottomLineCross {
    0% {
        transform: translateY(12px)
    }

    50% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(0px) rotate(-45deg)
    }
}

@keyframes topLineBurger {
    0% {
        transform: translateY(0px) rotate(45deg)
    }

    50% {
        transform: rotate(0deg)
    }

    100% {
        transform: translateY(-8px) rotate(0deg)
    }
}

@keyframes bottomLineBurger {
    0% {
        transform: translateY(0px) rotate(-45deg)
    }

    50% {
        transform: rotate(0deg)
    }

    100% {
        transform: translateY(6px) rotate(0deg)
    }
}

// create an animation that move the item top and bottom with dealy and slowly and alite bit shiake it 
@keyframes moveUpDown {
    0% {
        transform: translateY(0px);
        transform: rotate3d(1, 1, 1, 10deg);

    }

    50% {
        transform: translateY(-25px);
        transform: rotate3d(1, 1, 1, -10deg);
    }

    100% {
        transform: translateY(0px);
        transform: rotate3d(1, 1, 1, 10deg);
    }
}