html, body {
    scroll-behavior: smooth;
    scroll-padding-top: 30svh;
}
@media screen and (min-width: 2000px) {
    .container {
        width: 1550px;
    }
}

p {
    font-size: 16px !important;
    line-height: 150% !important;
}

.scroll-downs {
    @apply hidden sm:block absolute bottom-20 left-1/2 transform -translate-x-1/2 m-auto w-8 h-14;


    .mousey {
        width: 3px;
        padding: 10px 15px;
        height: 35px;
        border: 2px solid #fff;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;

        .scroller {
            width: 3px;
            height: 10px;
            border-radius: 25%;
            background-color: #fff;
            animation-name: scroll;
            animation-duration: 2.2s;
            animation-timing-function: cubic-bezier(.15, .41, .69, .94);
            animation-iteration-count: infinite;
        }
    }
}



@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

.wp-block-button {
    position: relative;

    a {
        @apply inline-block font-helvetica text-lg py-3 px-12 rounded-[30px] shadow-lg cursor-pointer transition-all duration-500 ease-in-out bg-primary text-black;
        font-family: Helvetica, sans-serif !important;
        font-size: 16px !important;
        font-weight: 600;
        padding: 12px 80px !important;

        &:hover {
            @apply shadow-md shadow-primary text-black;
            background-color: var(--wp--preset--color--primary);
        }

    }
}

.btn {
    @apply inline-block font-helvetica text-lg py-3 px-12 rounded-[30px] shadow-lg cursor-pointer transition-all duration-500 ease-in-out;


    &--primary {
        @apply bg-primary text-black;

        &:hover {
            @apply shadow-md shadow-primary;
        }
    }

    &--secondary {
        @apply text-white border;

        &:hover {
            @apply shadow-md shadow-white;
        }
    }

    &--glass {
        background: rgb(47, 194, 179);
        background: -moz-linear-gradient(168deg, rgba(47, 194, 179, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
        background: -webkit-linear-gradient(168deg, rgba(47, 194, 179, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
        background: linear-gradient(168deg, rgba(47, 194, 179, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2fc2b3", endColorstr="#ffffff", GradientType=1);

        &:hover {
            background: rgb(47, 194, 179);
            background: -moz-linear-gradient(311deg, rgba(47, 194, 179, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
            background: -webkit-linear-gradient(311deg, rgba(47, 194, 179, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
            background: linear-gradient(311deg, rgba(47, 194, 179, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2fc2b3", endColorstr="#ffffff", GradientType=1);
        }
    }

    &--small {
        @apply text-sm py-2 px-8;
    }

    &--full {
        @apply w-full text-center;
    }
}

body {

    .wp-block-media-text {
        @apply gap-8 mt-12 sm:mt-0;

        &__content {
            padding: 0 !important;
        }

        figure img {
            @apply rounded-3xl;
        }
    }

    .wp-block-group {

        figure img,
        figure video,
        img {
            @apply rounded-3xl;
        }
    }
}