@media screen and (min-width: 2000px) {
    .container {
        width: 1550px;
    }
}

p {
    font-size: 16px !important;
    line-height: 150% !important;
}

.wp-block-button {
    position: relative;

    a {
        @apply inline-block font-helvetica text-lg py-3 px-12 rounded-[30px] shadow-lg cursor-pointer transition-all duration-500 ease-in-out bg-primary text-black;
        font-family: Helvetica, sans-serif !important;
        font-size: 16px !important;
        font-weight: 600;
        padding: 12px 80px !important;

        &:hover {
            @apply shadow-md shadow-primary text-black;
            background-color: var(--wp--preset--color--primary);
        }

    }
}

.btn {
    @apply inline-block font-helvetica text-lg py-3 px-12 rounded-[30px] shadow-lg cursor-pointer transition-all duration-500 ease-in-out;


    &--primary {
        @apply bg-primary text-black;

        &:hover {
            @apply shadow-md shadow-primary;
        }
    }

    &--secondary {
        @apply text-white border;

        &:hover {
            @apply shadow-md shadow-white;
        }
    }

    &--glass {
        background: rgb(47, 194, 179);
        background: -moz-linear-gradient(168deg, rgba(47, 194, 179, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
        background: -webkit-linear-gradient(168deg, rgba(47, 194, 179, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
        background: linear-gradient(168deg, rgba(47, 194, 179, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2fc2b3", endColorstr="#ffffff", GradientType=1);

        &:hover {
            background: rgb(47, 194, 179);
            background: -moz-linear-gradient(311deg, rgba(47, 194, 179, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
            background: -webkit-linear-gradient(311deg, rgba(47, 194, 179, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
            background: linear-gradient(311deg, rgba(47, 194, 179, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2fc2b3", endColorstr="#ffffff", GradientType=1);
        }
    }

    &--small {
        @apply text-sm py-2 px-8;
    }

    &--full {
        @apply w-full text-center;
    }
}