#ourWorks {
  @apply relative;

  .wp-block-columns {
    @apply container;
  }

  .first-columns,
  .last-columns {
    @media screen and (max-width: 991px) {
      &>div {
        flex-basis: 50% !important;
      }
    }
  }

}

.our-services {
  @apply relative z-[1];

  #services-container {
    @apply relative container p-4 md:p-12 rounded-3xl border border-white border-opacity-60 z-[1] bg-white bg-opacity-5 overflow-hidden;

    background: rgba(165, 239, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.7px);
    -webkit-backdrop-filter: blur(13.7px);

    .services-cards {
      .service {
        @apply mb-8 pb-6;
        border-bottom: 0.83px solid transparent;
        border-image: linear-gradient(250deg, rgba(255, 231, 231, 0.46), rgba(255, 255, 255, 0.47), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(115, 129, 255, 0.45), rgba(0, 7, 73, 0.31));
        border-image-slice: 1;

        .wp-block-heading {
          @apply text-base uppercase font-helvetica font-bold;
        }

        .learn-more-link {
          @apply text-lg text-primary mt-4 cursor-pointer inline-flex justify-center items-center gap-2 hover:gap-4 transition-all ease-linear;

          &::after {
            content: "";
            @apply inline-block w-2 h-2 border-2 border-primary border-t-0 border-l-0 -rotate-[44deg];
          }
        }
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
  }
}
.grecaptcha-badge {
  display: none !important;
}