.single-post {
    .wp-block-cover {
        @apply relative;

        @media screen and (max-width: 768px) {
            min-height: 500px !important;
        }

        h1 {
            @apply relative text-3xl uppercase;
            font-size: 2rem !important;

            @media screen and (min-width: 768px) {
                font-size: 3.5rem !important;
            }

            @media screen and (min-width: 1024px) {
                font-size: 7rem !important;

            }

            &::before {
                content: "✴︎";
                @apply text-primary absolute -ml-8 sm:-ml-12 md:-ml-24;
                animation: slow-rotate 10s linear infinite;
            }
        }
    }

    .wp-block-group {
        @apply container overflow-hidden px-0;
    }

}

@keyframes slow-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}