.swiper {
    @apply mx-auto relative list-none p-0;

    .swiper-wrapper {
        @apply relative w-full h-full z-10 flex transition-transform box-content;

        .swiper-slide {
            @apply relative flex-shrink-0 w-full h-full transition-all box-content opacity-20;

            &-active {
                @apply opacity-100;
            }

            img {
                display: block;
                max-width: 100%;
                height: auto;
                object-fit: cover;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: -moz-crisp-edges;
                image-rendering: crisp-edges;
            }


        }
    }

    button {
        cursor: pointer;
        user-select: none;
        border: none;
        outline: none;
        background: none;
    }

    .swiper-pagination {
        @apply absolute text-center transition-opacity z-10 -bottom-10 left-0 w-full py-2;


        .swiper-pagination-bullet {
            @apply w-3 h-3 inline-block bg-white opacity-20 rounded-full mx-2 cursor-pointer;
            transition: opacity 0.5s, background-color 0.5s, width 0.5s;
            transition-delay: 0.5s, 0.5s, 0s;

            &-active {
                @apply opacity-100 w-24;

                transition-delay: 0s;
            }
        }
    }

}