.accordion {
    @apply text-white;

    .accordion-item {
        @apply border-t-0 border-l-0 border-r-0 border-b mb-4;
        border-image-slice: 1;
        border-width: 0 0 1px 0;
        border-image-source: linear-gradient(120deg, rgba(255, 231, 231, 0.46) 0%, rgba(255, 255, 255, 0.47) 20%, rgba(0, 0, 0, 0) 40%, rgba(255, 255, 255, 0.3) 60%, rgba(115, 129, 255, 0.45) 80%, rgba(0, 7, 73, 0.31) 100%);


        button[aria-expanded='true'] {
            @apply border-b border-primary;
        }

        &:last-child {
            @apply border-b-0;
        }
    }

    button {
        @apply relative text-left w-full pt-0 pb-4 text-white font-helvetica border-none bg-none outline-none;
        font-size: calc(8px + 1.5svw);

        // @media screen and (min-width: 1024px) {
        //     font-size: calc(24px + 1.5svw);

        // }

        &:hover,
        &:focus {
            @apply text-primary cursor-pointer;

            &::after {
                @apply cursor-pointer text-primary border border-gray;
            }
        }

        .accordion-title {
            @apply pt-4 pr-6 pl-0 pb-0;
        }

        .icon {
            @apply inline-block absolute top-[18px] right-0 w-[22px] h-[22px];

            &::before,
            &::after {
                @apply block absolute bg-white;
            }

            &::before {
                content: '';
                top: 9px;
                left: 5px;
                width: 10px;
                height: 2px;
                background: currentColor;
            }

            &::after {
                content: '';
                top: 5px;
                left: 9px;
                width: 2px;
                height: 10px;
                background: currentColor;
            }
        }
    }

    button[aria-expanded='true'] {
        @apply text-primary;

        .icon {
            &::after {
                @apply w-0;
            }
        }

        +.accordion-content {
            @apply opacity-100 visible mt-4 mb-6 max-h-full transition-all duration-200 ease-linear;
            will-change: opacity, max-height;
        }
    }

    .accordion-content {
        @apply opacity-0 max-h-0 invisible overflow-hidden transition-all duration-200 ease-linear max-w-4xl;
        will-change: opacity, max-height;

        p {
            @apply font-helvetica font-normal my-4 mx-0 text-white mb-5;
        }

        a {
            @apply text-primary hover:text-white block my-4 mx-0;
        }
    }
}