.hero {
    .container {
        @apply flex items-center h-[60svh] pt-16 md:h-[70svh] md:pt-0 overflow-hidden rounded-3xl shadow-lg relative text-gray md:px-12;

        &::before {
            content: "";
            @apply absolute inset-0 opacity-0 transition-opacity;
            background: radial-gradient(140% 130% at 50% 10%, transparent 37.41%, #00ffc2 99.27%);
        }

        &.animate::before {
            opacity: 1; // Change the opacity when the 'animate' class is added
        }

        .hero__content {
            @apply md:max-w-[53rem] relative z-[1];

            h2 {
                @apply font-BespokeStencil uppercase text-primary opacity-0;
            }

            h1 {
                @apply font-BespokeStencil mb-4 opacity-0;
                font-size: clamp(2rem, 3.8vw + 1rem, 4rem);
                line-height: 1.2;
                background: radial-gradient(49% 100% at 50% 50%, #fff 50%, hsla(0, 0%, 100%, 0.55) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .hero__cta {
                @apply flex gap-6 mt-7 opacity-0;
            }

            .hero__text {
                @apply opacity-0;
            }
        }

        .logo-big {
            @apply hidden sm:block absolute -z-[1] right-28 w-[20rem] h-auto opacity-0;
            filter: blur(5px);
            animation: moveUpDown 5s infinite ease-in-out;
            // transform: rotatey(calc(var(--mouse-x) * 1deg - 50deg)) rotatex(calc((var(--mouse-y) * -1deg + 50deg)));
        }
    }
}