.pricing-cards {
    @apply relative px-0 grid gap-6 md:grid-cols-3 items-start container transition-colors;

    .pricing-card {
        @apply relative text-white flex justify-between flex-col p-10 rounded-xl bg-opacity-40 hover:bg-white hover:bg-opacity-5 hover:cursor-pointer shadow transition-colors;
        box-shadow: inset 0px 0px 40px 4px rgba(255, 255, 255, 0.2);

        &-header {
            @apply mb-5;

            &__heading {
                @apply font-bold font-BespokeStencil uppercase text-4xl mb-1 text-center;
            }

            &__paragraph {
                @apply text-center;
                font-size: 12px !important;
            }

            &__pricing {
                @apply my-8 text-center
            }

            &__cta {
                @apply btn btn--primary w-full text-center font-helvetica font-bold;
                //absolute bottom-4 left-0 right-0 mx-4 max-w-[93%]
            }
        }

        .includes {
            @apply mt-0 mb-8 lg:my-8;

            &__lists {
                @apply text-sm space-y-3 grow;

                &__item {
                    @apply flex items-center gap-6;

                    .icon {
                        @apply flex justify-center items-center w-4 h-4 bg-white rounded-full;

                        svg {
                            @apply w-2 h-2 fill-black shrink-0;
                        }
                    }

                    &__content {
                        @apply flex-grow;
                    }
                }

                &--hide {
                    @apply hidden;

                }
            }

            button {
                @apply text-white border-0 outline-none shadow-none mb-6;
            }

            .not-includes {
                @apply line-through opacity-100;

                svg {
                    @apply opacity-0 invisible;
                }

                .includes__lists__item__content {
                    @apply opacity-50;
                }

                .icon {
                    @apply bg-[#dc2626];

                    &::before {

                        //content: "";
                        background-image: url('data:image/svg+xml,<svg data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path></svg>');
                        position: absolute;
                        filter: invert(1);
                        @apply text-black text-sm w-3 h-3;
                    }
                }

            }
        }

        &:hover {
            box-shadow: inset 0px 0px 60px 4px rgba(255, 255, 255, 0.40);

            hr {
                @apply border-opacity-100;
            }
        }

        hr {
            @apply border border-white border-opacity-20 rounded-full;
        }

        .popular {
            @apply absolute -top-5 left-[30%] lg:left-[39%] bg-primary text-black px-4 py-2 rounded-full text-xs;
        }
    }

    & .popular-card {
        @apply min-h-[600px] mt-2 lg:-mt-7;
        box-shadow: inset 0px 0px 60px 4px rgba(255, 255, 255, 0.40);
    }

    &::before {

        content: "";
        top: 50%;
        left: 50%;
        --tw-bg-opacity: 1;
        background-color: rgb(0 255 194 / var(--tw-bg-opacity));
        height: 12rem;
        width: 12rem;
        filter: blur(100px);
        border-radius: 100px;
        z-index: 0;
        position: absolute;

    }
}