.work-card {
    @apply h-full min-h-[540px] relative transition-all duration-500 ease-in-out rounded-xl overflow-hidden;

    video {
        @apply w-full h-full rounded-lg block object-cover relative z-0 md:rounded-xl;
    }

    img {
        @apply w-full h-full rounded-lg object-cover relative z-0 md:rounded-xl transition-transform;
    }

    &__content {
        @apply opacity-0 invisible absolute top-[30%] left-0 right-0 z-[1] bottom-0 flex items-end justify-between flex-wrap p-8 rounded-lg transition-all delay-100;
        background: linear-gradient(0deg, rgba(0, 0, 0, .9), transparent);

        .main {
            @apply flex flex-wrap justify-between items-center w-full;

            .heading {
                @apply flex flex-col w-full md:w-auto;

                h2 {
                    @apply font-helvetica font-bold text-3xl uppercase text-nowrap delay-150;
                }

                h3 {
                    @apply delay-200;
                }
            }

            .useCase {
                @apply delay-200;
            }
        }

    }

    &:hover {
        box-shadow: rgb(0 255 194 / 60%) 0px 0px 63px -16px;

        img {
            animation: imageScale 5s ease-out;
        }

        .work-card__content {
            @apply opacity-100 visible;

        }
    }

}

@keyframes imageScale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }

}