.body.js.block-editor-page{
  background-color: black !important;
  color: white;
}

.hero {
  background-color: aquamarine;
  color: black;
  padding: 2svw;
  text-align: center;
}
.hero .logo-big {
  display: none !important;
}
.hero a {
  text-decoration: none;
  pointer-events: none;
}
/* client-logos */
.client-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;;
  margin: 0 auto;
  padding: 2svw;
  width: 100%;
  background-color:royalblue;
}
.client-logo {
  flex: 1 1 100%;
}
.our-services, .why-us, .our-works {
  background: #020 !important;
  color: white !important;
  max-width: 90svw !important;
  margin: 0 auto !important;
}
.whyUsCards > div{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  overflow: hidden;
}
.whyUsCards > div img {
  max-width: 20px;
}
