.hero {
  background-color: aquamarine;
  color: black;
  padding: 2svw;
  text-align: center;
}
.hero .logo-big {
    display: none !important;
  }
  .hero a {
    text-decoration: none;
    pointer-events: none;
  }