@import "./utilities/animation";

.header {
    @apply h-auto py-4 transition-all duration-500 text-white top-0;

    &.scroll {
        @apply fixed top-0 left-0 w-full;

        .header-container {
            @apply bg-primary bg-opacity-5;
        }
    }

    .header-container {
        @apply container flex justify-between items-center border rounded-full border-white;
        filter: blur(1);
    }

    &.opened {
        @apply bg-black bg-opacity-90;
        backdrop-filter: saturate(180%) blur(20px);
        animation: animate-menu 400ms forwards;
    }

    .header-logo {
        @apply w-12 relative overflow-hidden transition-all duration-1000 ease-linear;

        &:hover {
            @apply w-full;
        }

        svg {
            @apply w-80;
        }
    }

    .header-menu {
        .burgermenu {
            @apply border-0 bg-transparent w-8 h-8 absolute -ml-8 -mt-6 p-0 outline-none z-[11] lg:hidden;

            span {
                @apply block h-[1px] absolute top-0 left-0 w-full border-t-[1px] transition-transform duration-500;
                transform: translateY(22px);
                transition: transform 0.5s ease, border-color 0.5s ease 0.3s;

                &:before {
                    content: '';
                    @apply h-[1px] absolute top-0 left-0 w-full bg-white;
                    transform: translateY(-12px);
                    animation: topLineBurger 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
                }

                &:after {
                    content: '';
                    @apply h-[1px] absolute top-0 left-0 w-full bg-white;
                    transform: translateY(11px);
                    animation: bottomLineBurger 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
                }
            }

            &.opened span {
                border-color: transparent;
                transition: border-color 0.3s ease;

                &:before {
                    animation: topLineCross 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
                }

                &:after {
                    animation: bottomLineCross 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
                }
            }
        }

        #menu-header {
            @apply hidden opacity-0 transition-all duration-500 overflow-hidden lg:overflow-visible lg:flex justify-center items-center gap-2 lg:opacity-100 lg:gap-3;

            &.opened {
                @apply pt-16 absolute left-0 top-0 z-10 flex flex-col opacity-100 w-full h-screen bg-black bg-opacity-90;
                backdrop-filter: saturate(180%) blur(20px);

                &>li>a {
                    @for $i from 1 through 4 {
                        &:nth-child(#{$i}) {
                            transition-delay: 1s + 0.08s * $i;
                            transform: translateY(0);
                        }
                    }
                }
            }

            &>li {
                @apply overflow-hidden pl-8 container lg:w-full lg:p-0 lg:overflow-visible;

                &>a {
                    @apply flex justify-between items-center -mb-2 text-[28px] py-1 translate-y-full lg:mb-0 lg:px-2 lg:py-1 lg:text-base lg:translate-y-0 lg:m-0 lg:w-full lg:text-nowrap;
                    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
                    letter-spacing: .007em;
                }

                &:last-child {
                    @apply lg:ml-16;

                    &>a {
                        @apply lg:bg-white lg:bg-opacity-10 lg:rounded-[30px] lg:px-12 lg:py-2 hover:md:text-black hover:md:shadow-sm hover:md:shadow-primary hover:md:bg-primary;
                    }
                }
            }

            & li.menu-item-has-children {
                &>a {

                    &::after {
                        content: "";
                        @apply w-4 h-4 transition-all duration-500 lg:ml-1;
                        background-image: url("data:image/svg+xml,%3Csvg data-slot='icon' fill='none' stroke-width='1.5' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m8.25 4.5 7.5 7.5-7.5 7.5'%3E%3C/path%3E%3C/svg%3E");
                        filter: brightness(0) invert(1);
                    }

                    &:hover::after {
                        @media screen and (max-width: 1024px) {
                            animation: arrow-right 0.3s forwards;
                        }

                        @apply rotate-90;
                    }

                    @media screen and (min-width: 1024px) {

                        &::before {
                            content: "";
                            width: 100%;
                            height: 200%;
                            position: absolute;
                            background-color: red;
                            z-index: -1;
                            left: 0;
                            right: 0;

                        }
                    }
                }

                a {
                    @apply pr-4 lg:px-2 lg:py-1 lg:relative lg:flex;
                }

                .back-item {
                    @apply lg:hidden;
                }
            }

        }

        // .menu-hover {
        //     @apply absolute top-0 left-0 w-full h-full bg-black opacity-0 transition-opacity duration-500 z-10 lg:hidden;
        // }
    }
}