@import "./utilities/animation";

.header {
    @apply h-auto py-4 transition-colors;
    background: rgba(22, 22, 23, .8);

    .header-container {
        @apply container flex justify-between items-center;
    }

    &.opened {
        @apply bg-black;
        backdrop-filter: saturate(180%) blur(20px);
        animation: animate-menu 400ms forwards;
    }

    .header-logo {
        @apply w-8 h-8;

        & path:first-child {
            @apply animate-pulse delay-200 duration-500;
        }

    }

    .header-menu {
        .burgermenu {
            @apply border-0 bg-transparent w-8 h-8 absolute -ml-8 -mt-6 p-0 outline-none z-[11];

            span {
                @apply block h-[1px] absolute top-0 left-0 w-full border-t-[1px] transition-transform duration-500;
                transform: translateY(22px);
                transition: transform 0.5s ease, border-color 0.5s ease 0.3s;

                &:before {
                    content: '';
                    @apply h-[1px] absolute top-0 left-0 w-full bg-white;
                    transform: translateY(-12px);
                    animation: topLineBurger 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
                }

                &:after {
                    content: '';
                    @apply h-[1px] absolute top-0 left-0 w-full bg-white;
                    transform: translateY(11px);
                    animation: bottomLineBurger 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
                }
            }

            &.opened span {
                border-color: transparent;
                transition: border-color 0.3s ease;

                &:before {
                    animation: topLineCross 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
                }

                &:after {
                    animation: bottomLineCross 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
                }
            }
        }

        #menu-header {
            @apply hidden opacity-0 transition-all duration-500;

            &.opened {
                @apply pt-16 absolute left-0 top-0 z-10 flex flex-col opacity-100 w-full h-screen bg-black;
                backdrop-filter: saturate(180%) blur(20px);

                &>li>a {
                    @for $i from 1 through 4 {
                        &:nth-child(#{$i}) {
                            transition-delay: 1s + 0.08s * $i;
                            transform: translateY(0);
                        }
                    }
                }
            }

            &>li {
                @apply overflow-hidden pl-8;

                &>a {
                    @apply flex justify-between items-center -mb-2 text-[28px] py-1 font-headers;
                    transform: translateY(100%);
                    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
                    letter-spacing: .007em;
                }
            }

            & li.menu-item-has-children {
                a {
                    @apply pr-4;

                    &::after {
                        content: "";
                        width: 16px;
                        height: 16px;
                        background-image: url("data:image/svg+xml,%3Csvg data-slot='icon' fill='none' stroke-width='1.5' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m8.25 4.5 7.5 7.5-7.5 7.5'%3E%3C/path%3E%3C/svg%3E");
                        filter: brightness(0) invert(1);
                        transition: transform 5ms ease;
                    }

                    &:hover::after {
                        animation: arrow-right 0.3s forwards;
                    }

                }
            }

            // submenu level 2
            .sub-menu {
                @apply hidden relative;
            }
        }
    }
}

@keyframes arrow-right {
    0% {
        transform: translateX(-40px);
    }

    100% {
        transform: translateX(0);
    }

}